*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

$bp-xlarge: 1200px;
$bp-large: 992px;
$bp-medium: 768px;
$bp-small: 576px;

p {
  margin-bottom: 0;
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-small) {
    font-size: 59%;
  }
}

body {
  height: 100vh;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    height: auto;
  }
}
